// Button
@import "colors";

@mixin btn-yellow($bg-color: $edu-color-yellow,$color: $edu-color-white, $padding: 0.8em 1.8em) {
    display: inline-block;
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border-radius: 2em;
    font-weight: bold;
    text-decoration: none;
  }