// Button
@import "colors";

@mixin btn-yellow($bg-color: $color-yellow,$color: $color-white, $padding: 1em 2em) {
    background-color: $bg-color;
    color: $color;
    padding: $padding;
    border-radius: 2em;
    font-weight: bold;
    text-decoration: none;
  }